.header {
  background-color: #ff841d;
  position: relative;
  text-align: center;
  overflow: hidden;
  height: 44px;
}
.header .back {
  width: 27px;
  height: 27px;
  padding: 5px;
  position: absolute;
  background-image: url('../images/icon_bar.png');
  background-position: -103px -11px;
  background-size: 220px 132px;
  top: 12px;
  left: 10px;
}
.header > h2 {
  line-height: 44px;
  color: #fff;
}
.header .down {
  width: 32px;
  height: 32px;
  position: absolute;
  background-image: url("../images/header_app.png");
  background-size: 32px;
  top: 10px;
  right: 10px;
}
.main .proInfo {
  padding: 10px;
  position: relative;
}
.main .proInfo > h3 {
  font-size: 18px;
}
.main .proInfo .price {
  color: red;
  margin-top: 10px;
}
.main .proInfo .time {
  font-size: 12px;
  color: #999;
  margin: 10px auto;
}
.main .proInfo .info {
  text-indent: 2rem;
  margin-top: 40px;
}
.main .proInfo .stylea {
  width: 120px;
  height: 120px;
  float: right;
}
.main .proInfo .product {
  width: 220px;
  height: 220px;
}
.main .proInfo > input {
  width: 100%;
  padding: 5px 10px;
  height: 30px;
  background-color: #FF9000;
  color: #fff;
  border-radius: 5px;
}
.main > img {
  width: 100%;
}
footer {
  margin-top: 20px;
  position: relative;
  text-align: center;
}
footer > ul > li {
  width: 33.333%;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  border-right: 1px solid #666;
  float: left;
  text-align: center;
}
footer > ul > li:last-child {
  border-right: none;
  position: absolute;
  background: url('../images/top.jpg') no-repeat;
  background-size: 16px;
  right: 0;
}
footer > p {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}
footer > p .app {
  color: red;
}
footer > p .bijia {
  color: #ccc;
}
footer > a {
  font-size: 14px;
}
